#nav {
  background-color: aliceblue;
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 80px;
  padding-left: 500px;
}
.logo
{
    
    background: url(Iamges/ARASCO1.png);
    margin: 3px;
    margin-left: -572px;
    margin-right:1078px;
    margin-bottom: 52px;
    

}

